<header>
  <a href="http://closerapp.us">
    <img src="/assets/icon.png">
  </a>
  <br />
  Closer Groups in Austin

  <div class="subtext">
    Closer is how small, local communities form and stay connected.
    <br />
    <a href="http://closerapp.us">
      Join the Austin Closer Community today!
    </a>
  </div>
</header>

<section class="groups-container">
  <a class="group" *ngFor="let group of groups"
   href="http://closerapp.us"
   [style.backgroundImage]="'url(' + (group.photo ? group.photo : 'http://closer-files.vlllage.com/-74231937656645754906669994329945008331-8455501802540414258') + '?s=600)'">
    <span class="group-name">{{ group.name }}</span>
    <br />
    <span class="group-about">{{ group.about }}</span>
  </a>
</section>

<footer>
  <a href="http://closerapp.us">Create your own groups on the Closer app</a>
</footer>
